+++
title = "Project Tetra"
linkTitle = "Project Tetra"

+++

{{< blocks/cover title="Welcome to Project Tetra: An open-source specification ventilator splitter for combating COVID-19" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Current medical standard operating procedure requires that patients who become severely ill with COVID-19 be treated using external ventilation.
As the virus spreads, projections suggest that there are not enough ventilators to meet the expected numbers of patients throughout the world.
Project Tetra seeks to create a ventilator splitter so that hospitals inundated with covid-19 patients can effectively increase the number of already available ventilators by up to a factor of 4.

The project aims to produce two versions of the device:

1. a design that has been approved by the FDA under the Emergency Use Authorization guidance, and
2. an open-source design intended to be made with locally sourced materials.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon=None %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="./docs/how-to-guides/contribution-guidelines/" %}}

We do a [Pull Request](https://github.com/tetrabiodistributed/tetrabiodistributed.github.io/pulls) contributions workflow on **GitHub**. New users are always welcome!

{{% /blocks/feature %}}

{{< /blocks/section >}}
